@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Ubuntu&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
}
h3
{
    font-size: 2.0rem;
    font-weight:600;
}
#title
{
    background-color: #ff4c68;
}
.headding
{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    /* margin-top: 5rem; */
}
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
}
.container-fluid
{
    padding: 3% 15%;
}
.navbar
{
    padding-bottom: 4.5rem;
}
.nav-item
{
    margin: auto 20px;
}
.download-button
{
    margin: 5% 3% 5% 0;
}
.title-iphone-image
{
    width: 60%;
    transform: rotate(25deg);
}

.feature_elements
{
    text-align: center;
    margin: 8rem auto;
}
.fa-solid
{
    font-size: 5rem;
    color: rgb(239, 129, 114);
    margin: 1.5rem auto;
}
.fa-solid:hover {
    color: rgb(255, 76, 104);
  }

#testimonials
{
    background-color: rgb(239, 129, 114);
}